In [27]:
import pandas as pd

data = pd.read_csv('Results_21Mar2022.csv')

relevant_data = data[['diet_group', 'mean_ghgs', 'mean_land', 'mean_watscar', 'mean_eut',
    'mean_ghgs_ch4', 'mean_ghgs_n2o', 'mean_bio', 'mean_watuse', 'mean_acid']]

grouped_data = relevant_data.groupby('diet_group').mean().reset_index()
baseline = grouped_data[grouped_data['diet_group'] == 'meat100'].iloc[0]

normalized_data = grouped_data.copy()
for col in normalized_data.columns[1:]:
    normalized_data[col] = normalized_data[col] / baseline[col]

long_format = normalized_data.melt(id_vars=['diet_group'], var_name='items', value_name='amount')

long_format
long_format.to_csv('long_format.csv', index=False)

In [24]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

# 读取数据集
data = pd.read_csv('Results_21Mar2022.csv')

# Calculate overall mean and standard deviation for the relevant variables
overall_mean = data.loc[:, 'mean_ghgs':'mean_acid'].mean()
overall_std = data.loc[:, 'mean_ghgs':'mean_acid'].std()

# Create a list of diet groups from the 'diet_group' column
diet_groups = data['diet_group'].unique()

# Initialize an empty DataFrame to store normalized values
normalized_data = pd.DataFrame()

# Calculate normalized values for each diet group and each environmental impact variable
for group in diet_groups:
    group_data = data[data['diet_group'] == group]
    group_means = group_data.loc[:, 'mean_ghgs':'mean_acid'].mean()
    normalized_values = (group_means - overall_mean) / overall_std
    normalized_df = pd.DataFrame(normalized_values).reset_index()
    normalized_df.columns = ['items', 'amount']
    normalized_df['diet_group'] = group
    normalized_data = pd.concat([normalized_data, normalized_df])

# Reset index of the final DataFrame
normalized_data.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
normalized_data

            items    amount diet_group
0       mean_ghgs -0.336592       fish
1       mean_land -0.428235       fish
2    mean_watscar  0.041849       fish
3        mean_eut -0.276691       fish
4   mean_ghgs_ch4 -0.359327       fish
5   mean_ghgs_n2o -0.447112       fish
6        mean_bio -0.109112       fish
7     mean_watuse  0.184902       fish
8       mean_acid -0.296680       fish
9       mean_ghgs -0.121779     meat50
10      mean_land -0.222024     meat50
11   mean_watscar -0.088063     meat50
12       mean_eut -0.051497     meat50
13  mean_ghgs_ch4 -0.059616     meat50
14  mean_ghgs_n2o -0.185510     meat50
15       mean_bio -0.012961     meat50
16    mean_watuse  0.133820     meat50
17      mean_acid -0.032656     meat50
18      mean_ghgs  1.699554    meat100
19      mean_land  1.526983    meat100
20   mean_watscar  0.724251    meat100
21       mean_eut  1.689511    meat100
22  mean_ghgs_ch4  1.681897    meat100
23  mean_ghgs_n2o  1.764733    meat100
24       mean_bio  0.926943    meat100
25    mean_watuse  0.736905    meat100
26      mean_acid  1.652959    meat100
27      mean_ghgs  0.446679       meat
28      mean_land  0.282145       meat
29   mean_watscar  0.166596       meat
30       mean_eut  0.545793       meat
31  mean_ghgs_ch4  0.475941       meat
32  mean_ghgs_n2o  0.434809       meat
33       mean_bio  0.278449       meat
34    mean_watuse  0.390144       meat
35      mean_acid  0.554211       meat
36      mean_ghgs -1.152281      vegan
37      mean_land -0.695179      vegan
38   mean_watscar -0.522790      vegan
39       mean_eut -1.260302      vegan
40  mean_ghgs_ch4 -1.274846      vegan
41  mean_ghgs_n2o -0.972950      vegan
42       mean_bio -0.945940      vegan
43    mean_watuse -0.910307      vegan
44      mean_acid -1.371589      vegan
45      mean_ghgs -0.535581     veggie
46      mean_land -0.463690     veggie
47   mean_watscar -0.321843     veggie
48       mean_eut -0.646815     veggie
49  mean_ghgs_ch4 -0.464049     veggie
50  mean_ghgs_n2o -0.593970     veggie
51       mean_bio -0.137379     veggie
52    mean_watuse -0.535464     veggie
53      mean_acid -0.506245     veggie

In [23]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

# 读取数据集
data = pd.read_csv('Results_21Mar2022.csv')

# 选择相关列进行标准化
columns_to_normalize = ['mean_ghgs', 'mean_land', 'mean_watscar', 'mean_eut', 'mean_ghgs_ch4', 'mean_ghgs_n2o', 'mean_bio', 'mean_watuse', 'mean_acid']
data_to_normalize = data[columns_to_normalize]

# 应用标准标准化
scaler = StandardScaler()
normalized_data = scaler.fit_transform(data_to_normalize)

# 为标准化数据创建一个 DataFrame
normalized_df = pd.DataFrame(normalized_data, columns=columns_to_normalize, index=data.index)
normalized_df['diet_group'] = data['diet_group']

# 按 Diet_group 聚合数据以进行绘图
grouped_data = normalized_df.groupby('diet_group').mean()

grouped_data
# grouped_data.to_csv('output_filename.csv', index=False)

# C创建热图
# plt.figure(figsize=(10, 6))
# sns.heatmap(grouped_data, annot=True, cmap='coolwarm')
# plt.title('Normalized Values Heatmap by Diet Group')
# plt.ylabel('Diet Group')
# plt.xticks(rotation=30)  # 旋转标签以便阅读
# plt.show()

,mean_ghgs,mean_land,mean_watscar,mean_eut,mean_ghgs_ch4,mean_ghgs_n2o,mean_bio,mean_watuse,mean_acid
diet_group,,,,,,,,,
fish,-0.336594,-0.428238,0.041849,-0.276693,-0.359329,-0.447115,-0.109113,0.184903,-0.296682
meat,0.446682,0.282147,0.166597,0.545796,0.475944,0.434812,0.278451,0.390147,0.554215
meat100,1.699566,1.526994,0.724256,1.689523,1.681909,1.764745,0.926949,0.736910,1.652971
meat50,-0.121780,-0.222026,-0.088064,-0.051497,-0.059616,-0.185512,-0.012961,0.133821,-0.032656
vegan,-1.152289,-0.695184,-0.522793,-1.260311,-1.274855,-0.972957,-0.945947,-0.910313,-1.371598
veggie,-0.535584,-0.463693,-0.321846,-0.646819,-0.464052,-0.593974,-0.137380,-0.535468,-0.506249